
main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #D8D8F6;
  --secondary: #978897;
  --tertiary: #B18FCF;
  --light: #fafafa;
  --dark: #494850;
  --darker: #2C2C34;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

* {
  box-sizing: border-box;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html,
body {
  min-height: 100%;
  margin-bottom: 2.5rem;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--dark);
  color: var(--light);
  font-family: 'Poiret One', cursive;
  overflow: auto;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  text-decoration: none;
  font-weight: bold;
}


header {
  background: var(--darker);
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid var(--primary);
}

header a {
  color: var(--light);
  text-align: center;
  height: 100%;
  margin: 0 auto;
}

header h2 {
  display: flex;
  padding-left: 5%;
  align-content: center;
}

header nav {
  width: 50%;
}

header nav ul {
  justify-content: space-around;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
  background-color: var(--secondary);
  color: var(--primary)
}


img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

#contact-page {
  justify-content: center;
  display: flex;
  align-content: center;
  flex-direction: column;
}

#contact-page > h1 {
  text-align: center;
}

#portfolio {
  text-align: center;
}

#aboutContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.projectInfo {
  flex-grow: 1;
  opacity: 0;
  color: #2C2C34;
  background-color: var(--primary);
  height: 100% ;
  width: 100%;
  margin-bottom: 25%;
  padding-top: 25%;
}

.projectInfo > a {
  color: #2C2C34;
  font-size: larger;
}

.projectInfo:hover {
opacity: .9;
}


.projectInfo > a:hover ,img:hover {
  opacity: .75;
}

.elementContainer {
  justify-content: space-around;
  color: #2C2C34;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.projectImage {
  margin: 15px;
  flex-basis: 40%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  border: 3px solid var(--tertiary);
}


#aboutContainer > p {
  background-color: var(--primary);
  border: 3px solid var(--secondary);
  color: var(--dark);
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

#resumeContainer {
  background-color: var(--primary);
  border: 3px solid var(--secondary);
  color: var(--dark);
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

#resumeContainer > a {
  color: var(--dark);
}

#resumeContainer > a:hover {
  color: var(--primary);
  background-color: #494850;
}

.resume > h1 {
  text-align: center;
  padding-bottom: 20px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  padding: 20px;
  background-color:var(--primary);
  border-top: 3px solid var(--secondary);
  position: fixed;
  bottom: 0;
  width: 100%;
  
}

.footerLogo {
  height: 32px;
  width: 32px;
}



li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
}

nav  li {
  cursor: pointer;
}

nav li:hover {
  color: var(--secondary) ;
}

#profilePic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
  border: solid 3px var(--secondary);
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

button {
	background: var(--primary);
	border: 0;
	border-radius: 5px;
	color: var(--darker);
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

a {
	border-radius: 5px;
	color: var(--primary);
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
	
}

.navActive {
  color: var(--tertiary);
}